<script src="js/prezi_player.js"></script>
<div id="prezi-player"></div>
<script type="application/javascript".>
        var player = new PreziPlayer('prezi-player', {
            preziId: 'giqhr8liqsox'
        });
</script>
PREZI...PREZI