<!DOCTYPE html>
<html>
  <head>
    <title><%= siteName %> | <%= pageTitle %></title>
  </head>
  <body>
    <%- include(`../pages/${template}`) %>
    <%- include('./partials/scripts') %>
  </body>
</html>